html, body {
  margin: 0;
  padding: 0;
}
.button {
  background-color: #df6872;
  border: none;
  border-radius: 0%;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
}